<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
   id="WebApp_ID" version="3.0">
   
  <display-name>BiologySys</display-name>
  <welcome-file-list>
    <welcome-file>Main.jsp</welcome-file>
  </welcome-file-list>
  <!--  
  <resource-ref>
    <res-ref-name>BiosystemDS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  -->
  <servlet>
    <servlet-name>Alive page</servlet-name>
    <jsp-file>/Alive.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Alive page</servlet-name>
    <url-pattern>/alive</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Main page</servlet-name>
    <jsp-file>/Main.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main page</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Classes page</servlet-name>
    <jsp-file>/Classes.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Classes page</servlet-name>
    <url-pattern>/classes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Edit alive page</servlet-name>
    <jsp-file>/EditAlive.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit alive page</servlet-name>
    <url-pattern>/editalive</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Edit class page</servlet-name>
    <jsp-file>/EditClass.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit class page</servlet-name>
    <url-pattern>/editclass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Add class page</servlet-name>
    <jsp-file>/AddClass.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add class page</servlet-name>
    <url-pattern>/addclass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Add alive page</servlet-name>
    <jsp-file>/AddAlive.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add alive page</servlet-name>
    <url-pattern>/addalive</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>XML Class</servlet-name>
    <jsp-file>/ClassXML.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>XML Class</servlet-name>
    <url-pattern>/xmlclass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>XML Alive</servlet-name>
    <jsp-file>/AliveXML.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>XML Alive</servlet-name>
    <url-pattern>/xmlalive</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Hierarchy</servlet-name>
    <jsp-file>/Hierarchy.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hierarchy</servlet-name>
    <url-pattern>/hierarchy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Handler</servlet-name>
    <servlet-class>biosys.controller.UpdateHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Handler</servlet-name>
    <url-pattern>/handleUpdate</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>biosys.controller.Application</listener-class>
  </listener>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/Error.jsp</location>
  </error-page>
</web-app>