head {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 20px 0;
    background: #F5F5F5;
}

body, input, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #666666;
}

form {
}

fieldset {
}

input, textarea {
    font-weight: bold;
}

input.text {
    padding: 2px 5px;
    background: #F8FAEB;
    border-top: 1px solid #4D5719;
    border-left: 1px solid #4D5719;
    border-right: 1px solid #D6E48E;
    border-bottom: 1px solid #D6E48E;
}

input.button {
    background: #B8D03B;
    border-top: 1px solid #D6E48E;
    border-left: 1px solid #D6E48E;
    border-right: 1px solid #4D5719;
    border-bottom: 1px solid #4D5719;
    color: #FFFFFF;
}

h1, h2, h3 {
    margin-top: 1.5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #626456;
}

h1 {
    letter-spacing: -.075em;
    font-size: 3em;
}

h2 {
    letter-spacing: -.05em;
    font-size: 1.8em;
    font-weight: normal;
    color: #8D8E85;
}

h3 {
    font-size: 1em;
}

p, ul, ol {
    margin-top: 1.5em;
    line-height: 1.8em;
    font-size: 1.1em;
    padding: 30px;
}

ul, ol {
    margin-left: 3em;
}

blockquote {
    margin-left: 3em;
    margin-right: 3em;
}

a:visited 
{
    color: blue;
}

hr {
    display: none;
}

/* Wrapper */

#wrapper {
}

/* Header */

#header {
    width: 1200px;
    height: 35px;
    margin: 0 auto;
}

#menu {
    float: left;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
}

#menu a {
    display: block;
    float: left;
    height: 25px;
    margin-right: 1px;
    padding: 10px 20px 0 20px;
    background: #E9EED0;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    color: #8C8F7D;
}

#menu a:hover {
    background: #DDE6AB;
    color: #2C2E22;
}

#menu .current_page_item a {
    background: #B8D03B url(images/img01.gif) no-repeat;
    color: #FFFFFF;
}

/* Logo */

#logo {
    width: 1200px;
    margin: 0 auto;
    height: 122px;
    background: #FFFFFF url(images/img02.gif) repeat-x left bottom;
    border: 1px solid #B8D03B;
}

#logo h1, #logo h2 {
    float: left;
    margin: 10px;
    padding: 10px;
}

#logo h1 {
    padding: 30px 5px 0 20px;
}

#logo h2 {
    padding: 45px 0 0 0;
    font-style: italic;
}

#logo p {
    clear: left;
    margin: 0;
    padding: 0 0 0 20px;
    line-height: normal;
    font-size: 1.2em;
    font-weight: bold;
    color: #C2C5B1;
}

/* Page */

#page {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    background: #FFFFFF;
    border: 1px solid #B8D03B;
    border-top: none;
    text-align: left;
}

/* Content */

#content {
    float: left;
    width: 420px;
    padding: 4px 24px 4px 21px;
}

/* Footer */

#footer {
    text-align: center;
    font-size: .8em;
}

/* Button style */

.green-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
    background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
    background-color:#77d42a;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #268a16;
    display:inline-block;
    color:#306108;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    padding:6px 15px;
    text-decoration:none;
    text-shadow:1px 1px 0px #aade7c;
}

.green-button:hover {
    cursor: pointer;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
    background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
    background-color:#5cb811;
}

.green-button:active {
    position:relative;
    top:1px;
}

/* Table style */
#rounded-corner
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    text-align: left;
    border-collapse: collapse;
    margin-left: auto; 
    margin-right: auto; 
}

#rounded-corner thead th.rounded-company
{
    background: #b9c9fe url('table-images/left.png') left -1px no-repeat;
}

#rounded-corner thead th.rounded
{
    background: #b9c9fe url('table-images/right.png') right -1px no-repeat;
}

#rounded-corner th
{
    padding: 8px;
    font-weight: normal;
    font-size: 13px;
    color: #039; 
    background: #b9c9fe;
}
#rounded-corner td
{
    padding: 8px;
    background: #e8edff;
    border-top: 1px solid #fff;
    color: #669;
    border-right: 1px solid #fff;
    
}
#rounded-corner tfoot td.rounded-foot-left
{
    background: #e8edff url('table-images/botleft.png') left bottom no-repeat;
}
#rounded-corner tfoot td.rounded-foot-right
{
    background: #e8edff url('table-images/botright.png') right bottom no-repeat;
}
#rounded-corner tbody tr:hover td
{
    background: #d0dafd;
}